.logo {
    width: 80px;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
}

.row {
    height: 100%;
}

#banner {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.test {
    position: absolute;
    z-index: 2;
}

.guestlist {
    border-radius: .5rem;
}

.navbar {
    top: 15rem;
}

.navLinks {
    position: fixed;
    z-index: 5;
    padding-left: 2.5rem;
}

.navLinks > img {
    width: 5rem;
}

.navLinks > ul {
    margin-top: 5rem;
    list-style-type: none;
    padding: 0;
}

li > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;

    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}