body {
    margin: 0;
}

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

#banner > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.main-navbar {
    position: fixed;
    z-index: 5;
    margin-top: 2rem;
}

.main-navbar > aside > ul {
    list-style-type: none;
    padding-left: 2rem;
    margin-top: 3rem;
}

.main-navbar > aside > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3.5rem;

    cursor: pointer;
}

.main-navbar > aside > ul > li:hover {
    background-color: #A13131;
}

.main-navbar > aside > ul > li{
    list-style-type: none;
    padding: 1rem;
}

.main-navbar > aside > img{
    padding-left: 3rem;
}